@import "../../../styles/variables";

.body-component-wrapper {
    justify-content: center;
    align-items: center;
    width: 100%;
  min-height: calc(100vh - $footer-height*2);
    display: flex;
    flex-wrap: wrap;
}

.description-wrapper{
  margin-top: 4%;
  margin-bottom: 3%;
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.description{
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

  border: 3px #23220d;
  width: 22%;
  text-align: center;
}

.product-container-big {
    width: 60%;
    margin-top:3%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $recipe-color;
    padding: 20px;
    border-radius: 10px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
    margin-top: 10px;
}

.big-picture {
    width: 90%;
    height: 90%;
  border-radius: 8px;
    object-fit: cover;
    margin: 10px;
}

.instructions-text {
    font-size: 16px;
    margin-top: 10px;
    line-height: 1.5;
}

.button-show-more{
    background-color: wheat;
}
.button-show-less{
    background-color: #cbf5b3;

}
