
@if ((productsArray$ | async)!==null) {
  @for (product of productsArray$ | async; track product) {
    <div class="product-container-big">
      <h2>{{ product.strMeal }}</h2>
      <img [src]="product.strMealThumb" [alt]="product.strMeal" class="big-picture"
        (error)="handleImageError($event)">
        <div class="description-wrapper">
          <button class="description">{{ product.strCategory }}</button>
          <button class="description">{{ product.strArea }}</button>
          <a class="description" [routerLink]="['/item', product?.idMeal]">Show details</a>
          <button class="description" (click)="loadProducts()">Next</button>
        </div>
      </div>
    }
  } @else {
    <img [src]="placeholderImage" alt="Placeholder" class="big-picture" />
  }
  