<div class="header-component-wrapper">
    <div class="header-container">
        <div class="header-navbar-left">
            <h2>{{header | titlecase}}</h2>
        </div>
      <section class="header-input">
          <input id="search-input" class="form-control" type="text"
                 [formControl]="searchControl"
                 placeholder="Ex: chicken, banana, meat..."
          >
      </section>
        <button type="button" class="button" (click)="onSearch()">Search</button>
    </div>
</div>


