<div class="header-component-wrapper">
    <div class="header-container">
        <div class="header-navbar-left">
            <h2>{{header | titlecase}}</h2>
        </div>
        <div class="header-navbar-center">
            <label>                {{userInput}}
                <input [(ngModel)]="userInput" type="text" class="header-input" autocomplete="off" placeholder="Search for a Meal...">
            </label>
        </div>
        <div class="header-navbar-right">
            <button class="button">
            </button>
        </div>
    </div>



</div>


