<div class="body-component-wrapper">
<!--  TODO-->
<!--  <app-product-card *ngFor="let product of productsArray" [product]="product"></app-product-card>-->
  <div *ngFor="let product of productsArray" class="product-container-big">
    <h2>{{product.strMeal}}</h2>
    <img [src]="product.strMealThumb" [alt]="product.strMeal" class="big-picture">
    <div class="description-wrapper">
      <button class="description">{{product.strCategory}}</button>
      <button class="description">{{product.strArea}}</button>
    </div>
  </div>
</div>
