.notification {
  width: 450px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

  text-transform: capitalize;
  font-style: italic;
  font-size: 20px;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.fadeIn {
  animation: fadeIn 0.5s ease;
}
@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

.fadeOut {
  animation: fadeOut 0.5s ease;
}
