<div class="products-list-container">
  @if (product) {
    <h2>{{ product.strMeal }}</h2>
    <a [routerLink]="['/item', product.idMeal]">
      <img ngSrc="{{product.strMealThumb}}"
           [alt]="product.strMeal" class="big-picture"
           (error)="handleImageError($event)"
           width="300"
           height="300"
      >
    </a>
    @if (isProduct(product)) {
      <div class="description-wrapper">
        <button class="description" (click)="searchByCategory(product.strCategory)">{{ product.strCategory }}</button>
        <button class="description" (click)="searchByArea(product.strArea)">{{ product.strArea }}</button>
      </div>
    }
  }
</div>
