<div class="products-list-container">
  @if (product) {
    <h2>{{ product.strMeal }}</h2>
    <a [routerLink]="['/item', product.idMeal]">
      <img ngSrc="{{product.strMealThumb}}"
           [alt]="product.strMeal" class="big-picture"
           (error)="handleImageError($event)"
           width="300"
           height="300"
      >
    </a>
    <div class="description-wrapper">
      <button class="description">{{ product.strCategory }}</button>
      <button class="description">{{ product.strArea }}</button>
    </div>
  }
</div>
