<div class="category-component-wrapper">
  <div class="category-component-header">
    @for (category of categories; track category) {
      <div (click)="goToCategory(category)">{{ category }}</div>
    }
  </div>
  <section class="category-input">
    <input id="search-input" class="form-control" type="text"
           placeholder="Filter"
           (input)="filterByLetter($event)"
    >
  </section>
  <div class="category-component-body">
    @if (labelDataArray$) {
      @for (product of labelDataArray$ | async | filter:filterLetter; track product.label) {
        <div (click)="searchByCategory(product.label)">{{ product.label }}</div>
      }
    }@else {
      <pre>no data found</pre>
    }
  </div>
</div>
