<p>{{ product?.strInstructions }}</p>

<table>
  <thead>
  <tr>
    <th>Ingredients</th>
  </tr>
  </thead>
  <tbody>
    @for (item of ingredients; track item.ingredient) {
      <tr>
        <td>
          <img [alt]="item.ingredient"
               ngSrc="{{item.urlImgSmall}}"
               [width]="getWidth"
               [height]="getHeight"
               (error)="handleImageError($event)">
        </td>
        <td>{{ item.ingredient }}</td>
        <td>{{ item.measure }}</td>
      </tr>
    }
  </tbody>
</table>

@if (product?.strYoutube) {
  <button>{{ product?.strYoutube }}</button>
}
@if (product?.strSource) {
  <button>{{ product?.strSource }}</button>
}
