@if (product) {
  <p>{{ product.strInstructions }}</p>
  @if (productRecipe) {
    <table>
      <thead>
      <tr>
        <th>Ingredients</th>
        <th>Measures</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let ingredient of productRecipe.ingredients; let i = index">
        <td>
          <a (click)="searchByIngredient(ingredient)">
            <img ngSrc="{{urlImageIngredient}}{{ ingredient }}-Small.png"
                 [alt]="ingredient"
                 width="100"
                 height="100"
                 (error)="handleImageError($event)"
                 fetchpriority="auto"
            >
          </a>
        </td>
        <td>{{ ingredient }}</td>
        <td>{{ productRecipe.measures[i] }}</td>
      </tr>
      </tbody>
    </table>
  }

  @if (product.strYoutube) {
    <a href="{{ product.strYoutube }}" target="_blank">
      <button>Watch on YouTube</button>
    </a>

  }
  @if (product.strSource) {
    <a href="{{ product.strSource }}" target="_blank">
      <button>Recipe source</button>
    </a>
  }
}
